
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center"><%= image_tag "dnk-logo.png", height: "62px" %></a>
      <ul class="left hide-on-med-and-down">
         <li><%= link_to 'Meme Gallery', user_pictures_path, class: "waves-effect waves-light btn" %></li>
        <li><%= link_to 'New Picture', new_picture_path, class: "waves-effect waves-light btn" %></li>
      </ul>
    </div>
  </nav>
      <br>
<div class="row center-align">
  <div class="col s12">
    <h5>All The Memes All The Time</h5>
  </div>
</div>
<div class="container">
  <div class="row section">
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "marshawn.jpg", class:"responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "lebron.png", class:"responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "cant.jpg", class:"responsive-img" %></span>
       </div>
       <div class="col s3">
         <span class="responsive-img"><%= image_tag "chappelle.jpg", class:"responsive-img" %></span>
       </div>
  </div>
  <div class="row section">
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "cowboys_suck.jpg", class:"responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "honey_badger.jpg", class:"responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "kermit.jpg", class:"responsive-img" %></span>
       </div>
       <div class="col s3">
         <span class="responsive-img"><%= image_tag "nick_young.jpg", class:"responsive-img" %></span>
       </div>
  </div>
  <div class="row section">
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "birdman.jpg", class:"responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "cashme.png", class:"responsive-img" %></span>
      </div>
      <div class="col s3">
         <span class="responsive-img"><%= image_tag "spongebob.jpg", class:"responsive-img" %></span>
       </div>
       <div class="col s3">
         <span class="responsive-img"><%= image_tag "thrones.jpg", class:"responsive-img" %></span>
       </div>
  </div>
</div>

<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      © 2017 DnK All Memes Reserved
      </div>
    </div>
</footer>
