<div class="row center-align">
  <div class="col s12">
<!--     <h5>Welcome to</h5> -->
    <span class="responsive-img"><%= image_tag "dnk-logo.png" %></span>
    <h5>Memes are your fav things to do now</h5>
  </div> <!-- Closer div of col s9 -->
</div><!-- Closer div or row -->

<div class="row">
    <div class="col s3">
       <span class="responsive-img"><%= image_tag "shakira.png" %></span>
    </div>
    <div class="col s3">
       <span class="responsive-img"><%= image_tag "imagine-dragons.png" %></span>
    </div>
    <div class="col s3">
       <span class="responsive-img"><%= image_tag "jason-derulo.png" %></span>
     </div>
     <div class="col s3">
       <span class="responsive-img"><%= image_tag "true.png" %></span>
     </div>
</div>
<div class="row">
    <div class="col s3">
       <span class="responsive-img"><%= image_tag "beck.png" %></span>
    </div>
    <div class="col s3">
       <span class="responsive-img"><%= image_tag "calvis-harris.png" %></span>
    </div>
    <div class="col s3">
       <span class="responsive-img"><%= image_tag "frozen.png" %></span>
     </div>
     <div class="col s3">
       <span class="responsive-img"><%= image_tag "midnight.png" %></span>
     </div>
</div>

<div class="row">
    <div class="col s12 center-align">
      <h5>Ready to try out our amazing app?</h5>
      <%= link_to 'New Picture', new_picture_path, class:"text-center waves-effect waves-light btn-large" %>
  </div>
</div>

<!-- Don erase this Waldo-->
      <table>
        <tbody>
          <% @pictures.each do |picture| %>
            <tr>
              <td><%= picture.title %></td>
              <td><%= image_tag picture.url %></td>
              <td><%= link_to 'Show', picture %></td>
              <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
              <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>