<div class="row grey lighten-5">

  <div class="col s3">
    
  </div>
  <div class="col s9">
        <% @pictures.each do |picture| %>
        <p class="badge" data-badge-caption="custom caption"><%= picture.title %></p> 
  </div>
  
<table>
  <tbody>

      <tr>
        <td></td>
        <td><%= image_tag picture.url %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>










</div>