<div class="page-header"><h1>Photos</h1></div>

<%#= render @picture %>

<div class="row center-align">
    <% @pictures.each do |picture| %>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag picture.image.url, class: "responsive-img" %>
          <span class="card-title"><%= picture.title %></span>
        </div>
        <div class="card-content blue lighten-4">
        <%= link_to 'remove_red_eye', picture, class: "material-icons" %>
        <%= link_to 'edit', edit_picture_path(picture), class: "material-icons" %>
        <%= link_to 'delete', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "material-icons" %>  
        </div>
      </div>
    </div>

  <% end %>
    
</div>